/* This is the nav bar and header */
body{
    background-image: linear-gradient(black, black 1%, white, white 99%);
}

header {
    background-color: #202020;
    height: 75px;

}

#title {
    font-size: 75px;
    font-family: 'Nanum Gothic Coding';
    color: aliceblue;
    max-width: max-content;
    position: relative;
    top: -10px;
    left: 10px;
    padding: 10px;

  }

.navlist {
    display: flex;
    justify-content: end;
    
}

li {
    position: relative;
    left: -10px;
    top: -55px;
    padding: 10px;
    font-size: large;
   
}

a {
    text-decoration: none;
    color: aliceblue;
}

li:hover {
    color: rgb(221, 81, 46);
    cursor: pointer;
    
}

/* This is the hero img */



.heroimg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* object-position */

}

/* welcomemessage, when moving the text, breaks display and makes it too wide */
.welcomemessage {
    position: relative;
    color: aliceblue;
    top: -150px;
    font-size: x-large;
    max-width: fit-content;
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    /* what does inline flex do? is this the solution? */
    
}


span{
    font-family: "Dancing Script";
}

/* Also breaks the page when adjusting size, the problem with both of these issues is that we are setting an x, y coordinate...*/
/* overflow?????? */
aside {
   
    padding: 40px;
    border: 2px;
    border-right-color: black;
    border-right-style: solid;
    font-size: 30px;
    display: flex;
    flex-flow: column;
    max-width: 60px;
}
/* 
aside:scroll {} want things to fade into being */


.wrapper p {
    font-size: larger;
    display: block;
    position: relative;
    left: 200px;
    top: -100px;
    max-width: fit-content;
    
}

#c{
    color: #FB366D;
    
        animation: fadeIn ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


#o{
    color: #FD9208;
    animation: fadeIn ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    


#l{
    color: #F9F32C;
    animation: fadeIn ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#O{
    color: #70DDE8;
    animation: fadeIn ease 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#u{ 
    color: #9F83B7;
    animation: fadeIn ease 5.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#r{
    color: #EF291E;
    animation: fadeIn ease 6.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.wrapper img {
    width: 400px;
}

.centered {
    position: relative;
    left: 50rem;
    top: -300px;
    
}

/* percentages vs using */